registry=https://pkgs.dev.azure.com/Orbia/Engineering/_packaging/orbia-node/npm/registry/
 
always-auth=true
 
//pkgs.dev.azure.com/Orbia/Engineering/_packaging/orbia-node/npm/registry/:username=Orbia
//pkgs.dev.azure.com/Orbia/Engineering/_packaging/orbia-node/npm/registry/:_password=NHYzbHZxNmx0NG5rbDJ4bWNjZmtnNnJ2N2l6aHZheWY2bXlpaHkzbW9yaXl6Zmx2YzM1YQ==
//pkgs.dev.azure.com/Orbia/Engineering/_packaging/orbia-node/npm/registry/:email=everton.ferreira@orbia.ag
 



@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=0D4A2955-9B73-4B77-8C94-84ACAAE83D2E